

ul{
    list-style: none;

}
li a{
    color: floralwhite;
    text-decoration: none;
    padding:0 8px;
    border-right: 1px solid floralwhite;
}
.eliminar-linea{
    border-right: none;
}
.color-fondo-del-menu{
    background-image:linear-gradient(black,gray)
}
ul li{
    padding: 10px 0;
}
.text{
color: floralwhite;
}
.icono{
    color: seashell;
padding:0 20px;
}
@media(min-width:1000px){
    span.icono{
        display: none;}
        span.text{
            display: inline-block;}
            .alinear{
    display: flex;
    justify-content: center;
   /* justify-content: space-around;*/
}
}
@media(max-width:1000px){
    span.icono{
        display: inline-block;
    }
    span.text{
        display: none;
    }
    .alinear{
    display: block;
}

}
